<a [entryPermissionsOnly]="[PermissionId.ProductsWrite]" mat-raised-button class="create-product-action" color="accent" routerLink="./create">Create</a>
<entry-search-filter
    [searchFilters]="query.filters"
    (searchFilterChange)="searchFilterChange($event)">
</entry-search-filter>
<app-g-product-list
    [data]="data"
    [defaultSort]="query"
    [contextMenuItems]="contextMenuItems"
    (sortChange)="sortChange($event)"
    (pageChange)="pageChange($event)"
    (rowClick)="onRowSelected($event)"
    (contextMenuItemSelected)="onContextMenuItemSelected($event)">
</app-g-product-list>