@use 'typography/fonts';

$font-path: '../../../../../assets/fonts/';

$src-main-normal: url('#{$font-path}OpenSans/OpenSans-Regular.eot') format('eot'), url('#{$font-path}OpenSans/OpenSans-Regular.woff') format('woff'), url('#{$font-path}OpenSans/OpenSans-Regular.woff2') format('woff2'), url('#{$font-path}OpenSans/OpenSans-Regular.ttf') format('ttf');
$src-main-bolded: url('#{$font-path}OpenSans/OpenSans-Bold.eot') format('eot'), url('#{$font-path}OpenSans/OpenSans-Bold.woff') format('woff'), url('#{$font-path}OpenSans/OpenSans-Bold.woff2') format('woff2'), url('#{$font-path}OpenSans/OpenSans-Bold.ttf') format('ttf');
$src-title-bolded: url('#{$font-path}Montserrat/Montserrat-Bold.eot') format('eot'), url('#{$font-path}Montserrat/Montserrat-Bold.woff') format('woff'), url('#{$font-path}Montserrat/Montserrat-Bold.woff2') format('woff2'), url('#{$font-path}Montserrat/Montserrat-Bold.ttf') format('ttf');

@font-face {
	@include fonts.font-face('OpenSans', normal, normal);
	src: $src-main-normal;
}

@font-face {
	@include fonts.font-face('OpenSans Bold', normal, bold);
	src: $src-main-bolded;
}

@font-face {
	@include fonts.font-face('Montserrat Bold', normal, bold);
	src: $src-title-bolded;
}