@use 'sass:list';
@use 'sass:string';
@use 'sass:map';
@use 'variables' as vars;

@forward 'scss-foundation/src/layout/grid' with (
	$breakpoints: vars.$breakpoints
);
@use 'scss-foundation/src/layout/grid' as breakpoints;

@mixin apply-on-mobile() {
	@include breakpoints.apply-on(mobile) {
		@content;
	}
}

@mixin apply-on-tablet() {
	@include breakpoints.apply-on(tablet) {
		@content;
	}
}

@mixin apply-on-desktop() {
	@include breakpoints.apply-on(desktop) {
		@content;
	}
}

@mixin apply-on-large-desktop() {
	@include breakpoints.apply-on(largeDesktop) {
		@content;
	}
}

@mixin set-up() {
	@include breakpoints.set-up();
}