$breakpoints: (
	mobile: (description: 'sm', size: 480px ),
	tablet: (description: 'md', size: 768px ),
	desktop: (description: 'lg', size: 992px),
	largeDesktop: (description: 'xl', size: 1200px));

$primary: #2581C4;
$accent: #EA518D;
$menu-background: #FFF;

$default-gap: 16px;