@use 'variables' as vars;

.navigation-container {
	height: 100%;

	.navigation-content {
		overflow: hidden;
	}

	.navigation-list {
		padding-top: 0;

		.icon {
			position: absolute;
		}

		.description {
			padding-left: 2 * vars.$default-gap;
		}
	}

	.item.router-link-active {
		.icon, .description {
			color: vars.$accent;
		}
	}
}
