<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="DEBUG" xdt:Transform="Remove" xdt:Locator="Match(verb)" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>