<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true">
        <verbs allowUnlisted="false">
          <clear />
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DEBUG" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
          <add verb="DELETE" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Cache-Control" value="no-store" />
        <add name="Content-Security-Policy" value="default-src 'none'; frame-ancestors 'none'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; connect-src 'self' enigmatryb2cdev.b2clogin.com" />
        <add name="X-Frame-Options" value="DENY " />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Permissions-Policy" value="'none'" />
        <add name="Referrer-Policy" value="no-referrer" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>