<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering removeServerHeader="true">
                <verbs allowUnlisted="false">
                    <clear />
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="PUT" allowed="true" />
                    <add verb="DEBUG" allowed="true" />
                    <add verb="OPTIONS" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Cache-Control" value="no-store" />
                <add name="Content-Security-Policy" value="default-src 'none'; frame-ancestors 'none'" />
                <add name="X-Frame-Options" value="DENY " />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Feature-Policy" value="'none'" />
                <add name="Referrer-Policy" value="no-referrer" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <outboundRules>
                <rule name="Set CSP rules for index.html">
                    <match serverVariable="RESPONSE_Content_Security_Policy" pattern=".*" />
                    <conditions>
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </conditions>
                    <action type="Rewrite" value="default-src 'none'; frame-ancestors 'none'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; connect-src 'self'" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>