<!-- Custom formatting -->
<span *ngIf="colDef.formatter; else defaultCellFormattingTpl" [innerHTML]="colDef.formatter!(rowData, colDef)">
</span>

<!-- Default formatting -->
<ng-template #defaultCellFormattingTpl>
  <ng-container [ngSwitch]="colDef.type">
    <!-- Boolean -->
    <ng-container *ngSwitchCase="'boolean'">
      <span>{{colValue}}</span>
    </ng-container>
    <!-- Number -->
    <ng-container *ngSwitchCase="'number'">
      <span>
        {{colValue | number: colDef.typeParameter?.digitsInfo : colDef.typeParameter?.locale}}
      </span>
    </ng-container>
    <!-- Currency -->
    <ng-container *ngSwitchCase="'currency'">
      <span>
        {{colValue | currency: colDef.typeParameter?.currencyCode : colDef.typeParameter?.display :
        colDef.typeParameter?.digitsInfo : colDef.typeParameter?.locale}}
      </span>
    </ng-container>
    <!-- Percent -->
    <ng-container *ngSwitchCase="'percent'">
      <span>
        {{colValue | percent: colDef.typeParameter?.digitsInfo : colDef.typeParameter?.locale}}
      </span>
    </ng-container>
    <!-- Date -->
    <ng-container *ngSwitchCase="'date'">
      <span>
        {{colValue | date: colDef.typeParameter?.format : colDef.typeParameter?.timezone :
        colDef.typeParameter?.locale}}
      </span>
    </ng-container>
    <!-- Link -->
    <ng-container *ngSwitchCase="'link'">
      <a [href]="colValue" target="_blank">{{colValue}}</a>
    </ng-container>
    <!-- Default -->
    <ng-container *ngSwitchDefault>
      <span>{{colValue}}</span>
    </ng-container>
  </ng-container>
</ng-template>