<form [formGroup]="userForm">
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Placeholder" formControlName="userName">
  </mat-form-field>

  <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Angular forms" formControlName="createdDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <button type="submit" mat-raised-button (click)="updateUser()">Update</button>
</form>
