@use 'breakpoints';

.hide-on-mobile {
	display: none;

	@include breakpoints.apply-on-tablet() {
		display: table-cell;
	}
}

/* stylelint-disable-next-line plugin/stylelint-group-selectors */
.hide-on-tablet {
	display: none;

	@include breakpoints.apply-on-desktop() {
		display: table-cell;
	}
}