<entry-form-errors [form]="formComponent().form"></entry-form-errors>

<ng-content></ng-content>

<ng-template #defaultFormButtonsTpl>
    <div class="action-buttons align-center">
        @if(!formComponent().isReadonly)
        {
            <button mat-button entry-submit-button type="submit">
                {{formComponent().saveButtonText}}
            </button>
            <button mat-button entry-cancel-button type="button" (click)="formComponent().cancel.emit()">
                {{formComponent().cancelButtonText}}
            </button>
        }
    </div>
</ng-template>