<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
                [opened]="!isScreenSmall()"
                [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">Users</mat-toolbar>
     <mat-nav-list>
       <mat-list-item *ngFor="let user of users | async">
         <a matLine [routerLink]="['/users', user.id]">
           <!--<mat-icon svgIcon="{{user.avatar}}"></mat-icon>-->
           {{user.name}}</a>
       </mat-list-item>
     </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar (toggleSideNav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
