<section>
    <header class="entry-header">
        <div class="container">
            <div class="space-between">
                <h1 class="header-item">Calculations</h1>

                <div class="action-buttons header-item">
                    <button class="entry-button-primary item first-item">Import</button>
                    <button class="entry-button-accent item">Add new</button>
                </div>
            </div>

            <div class="row content">
                <div class="col-6 col-md-4 col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label for="number">Number</mat-label>
                        <input id="number" matInput>
                    </mat-form-field>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label for="tag">Tag</mat-label>
                        <input id="tag" matInput>
                    </mat-form-field>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label for="number">Project</mat-label>
                        <input id="project" matInput>
                    </mat-form-field>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label for="number">Style</mat-label>
                        <input id="style" matInput>
                    </mat-form-field>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label for="number">User</mat-label>
                        <input id="user" matInput>
                    </mat-form-field>
                </div>

                <div class="col-6 col-md-4 col-lg-2"></div>
            </div>

            <mat-radio-group >
                <mat-radio-button value="test1">Test1</mat-radio-button>
                <mat-radio-button value="test2">Test2</mat-radio-button>
              </mat-radio-group>

              <mat-checkbox>Check me!</mat-checkbox>
        </div>
    </header>

    <app-g-user-list [data]="data | async" [loading]="loading" [defaultSort]="query" (sortChange)="sortChange($event)"
        (pageChange)="pageChange($event)" (selectionChange)="selectionChange($event)"
        (contextMenuItemSelected)="onItemSelected($event)">
    </app-g-user-list>
</section>
