<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  Api url: {{ apiUrl }}
</div>
<h2>Accordion: </h2>
<accordion>
  <accordion-group heading="Static Header, initially expanded">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
</accordion>

<!-- Datepicker example -->
<!-- https://valor-software.com/ngx-bootstrap/#/datepicker -->
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker>
  </div>
</div>

<p>
  Select a title to set on the current HTML document:
</p>
<ul>
  <li><a (click)="setTitle('Good morning!')">Good morning</a>.</li>
  <li><a (click)="setTitle('Good afternoon!')">Good afternoon</a>.</li>
  <li><a (click)="setTitle('Good evening!')">Good evening</a>.</li>
</ul>