<mat-toolbar>
  <span class="main-menu">
    <button class="button primary" [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="users" routerLinkActive="active">Users</button>
      <button mat-menu-item routerLink="products" routerLinkActive="active">Products</button>
    </mat-menu>
  </span>
  <span class="spacer"></span>
  <span>
    <app-login></app-login>
  </span>
</mat-toolbar>

<div class="page-spacing">
  <router-outlet></router-outlet>
</div>