<!--The content below is only a placeholder and can be replaced.-->
<!-- For translations see: https://www.codeandweb.com/babeledit/tutorials/how-to-translate-your-angular7-app-with-ngx-translate-->
<div style="text-align:center">
  <h1 translate>app.title</h1>
  <h2 translate>app.description</h2>
</div>
<div>
  {{ 'home.api-url' | translate }}: {{ apiUrl }}
</div>
<hr />
<div>
  {{ 'home.use-language' | translate }}:
  <button (click)="useLanguage('en')" translate>language.english</button>
  <button (click)="useLanguage('nl')" translate>language.dutch</button>
</div>
<hr />
<h2>Sample of an accordion: </h2>
<accordion>
  <accordion-group heading="Static Header, initially expanded">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
</accordion>


<hr />
<!-- Datepicker example -->
<!-- https://valor-software.com/ngx-bootstrap/#/datepicker -->
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker>
  </div>
</div>

<hr />
<p>
  {{ 'home.select-title-to-set-on-html-document' | translate}}:
</p>
<ul>
  <!-- example of using dynamic translation-->
  <li><a class="btn btn-primary" (click)="setTitle('Title 1!')">{{ 'home.set-to' | translate:{'name':'Title 1'} }} </a></li>
  <li><a class="btn btn-primary" (click)="setTitle('Title 2!')">{{ 'home.set-to' | translate:{'name':'Title 2'} }} </a></li>
  <li><a class="btn btn-primary" (click)="setTitle('Title 3!')">{{ 'home.set-to' | translate:{'name':'Title 3'} }} </a></li>
</ul>