// TODO Replace $font-size with global once vars are merged
@use 'variables' as vars;
 

html, body {
	height: 100%;
}

body {
	margin: 0;
	font: {
		family: 'Roboto', 'Helvetica Neue', sans-serif;
		size: vars.$font-size-default;
	}
}
