@mixin font-face($family, $source, $weight: normal, $style: normal, $stretch: normal) {
	@font-face {
		font: {
			family: $family;
			stretch: $stretch;
			style: $style;
			weight: $weight;
		}
		src: $source;
	}
}

@mixin -font($family, $size) {
	font: {
		family: $family;
		size: $size;
	};
}

@mixin main-font($size: 14px) {
	@include -font('OpenSans', $size);
}

@mixin main-bolded-font($size: 14px) {
	@include -font('OpenSans Bold', $size);
}

@mixin title-font($size: 20px) {
	@include -font('Montserrat Bold', $size);
}
