<mat-drawer-container class="navigation-container" [hasBackdrop]="true" color="primary">
  <mat-drawer #drawer class="side-menu" fixedInViewport="true" (click)="toggleDrawer()" [attr.role]="menuRole()"
    mode="over">
    <app-side-menu [currentUser]="currentUser" [menuItems]="menuItems" [show]="show" [onLogout]="onLogout"></app-side-menu>
  </mat-drawer>
  <mat-drawer-content class="navigation-content">
    <app-main-menu [currentUser]="currentUser" [menuItems]="menuItems" [show]="show" [onLogout]="onLogout" [onHamburgerClick]="toggleDrawer"></app-main-menu>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>