<span *ngIf="rowData().type === productTypes.Food">
    <mat-icon aria-hidden="false" aria-label="Example lunch_dining icon">lunch_dining</mat-icon>
</span>
<span *ngIf="rowData().type === productTypes.Drink">
    <mat-icon aria-hidden="false" aria-label="Example local_bar icon">local_bar</mat-icon>
</span>
<span *ngIf="rowData().type === productTypes.Car">
    <mat-icon aria-hidden="false" aria-label="Example drive_eta icon">drive_eta</mat-icon>
</span>
<span *ngIf="rowData().type === productTypes.Book">
    <mat-icon aria-hidden="false" aria-label="Example menu_book icon">menu_book</mat-icon>
</span>