@switch (rowData().type) {
  @case (productTypes.Food) {
    <mat-icon aria-hidden="false" aria-label="Example lunch_dining icon">lunch_dining</mat-icon>
  }
  @case (productTypes.Drink) {
    <mat-icon aria-hidden="false" aria-label="Example local_bar icon">local_bar</mat-icon>
  }
  @case (productTypes.Car) {
    <mat-icon aria-hidden="false" aria-label="Example drive_eta icon">drive_eta</mat-icon>
  }
  @case (productTypes.Book) {
    <mat-icon aria-hidden="false" aria-label="Example menu_book icon">menu_book</mat-icon>
  }
}
