@font-face {
	font: {
		family: 'OpenSans';
		stretch: normal;
		style: normal;
		weight: normal;
	}
	src: url('../../../../../assets/fonts/OpenSans/OpenSans-Regular.eot') format('eot'), url('../../../../../assets/fonts/OpenSans/OpenSans-Regular.woff') format('woff'), url('../../../../../assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'), url('../../../../../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
	font: {
		family: 'OpenSans Bold';
		stretch: normal;
		style: normal;
		weight: bold;
	}
	src: url('../../../../../assets/fonts/OpenSans/OpenSans-Bold.eot') format('eot'), url('../../../../../assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'), url('../../../../../assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'), url('../../../../../assets/fonts/OpenSans/OpenSans-Bold.ttf') format('ttf');
}

@font-face {
	font: {
		family: 'Montserrat Bold';
		stretch: normal;
		style: normal;
		weight: bold;
	}
	src: url('../../../../../assets/fonts/Montserrat/Montserrat-Bold.eot') format('eot'), url('../../../../../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'), url('../../../../../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'), url('../../../../../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
}