@mixin -font($family, $size) {
	font: {
		family: $family;
		size: $size;
	};
}

@mixin main-font($size: 14px) {
	@include -font('OpenSans', $size);
}

@mixin main-bolded-font($size: 14px) {
	@include -font('OpenSans Bold', $size);
}

@mixin title-font($size: 20px) {
	@include -font('Montserrat Bold', $size);
}
